---
layout: default
title: 윤상호 블로그
permalink: /
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <p>
      <img src="../logo.png" alt="Image">
    </p>
  </header>

  <div class="page-content">

    <h2>Develop</h2>
    {% for post in site.categories.develop %}
      {% include themes/{{ site.amsf_theme }}/includes/page-item.html %}
    {% endfor %}

    <h2>Life</h2>
    {% for post in site.categories.life %}
      {% include themes/{{ site.amsf_theme }}/includes/page-item.html %}
    {% endfor %}

    <h2>Conference</h2>
    {% for post in site.categories.conference %}
      {% include themes/{{ site.amsf_theme }}/includes/page-item.html %}
    {% endfor %}

    <h2>View all posts</h2>
    {% for post in site.posts %}
      {% include themes/{{ site.amsf_theme }}/includes/page-item.html %}
    {% endfor %}
  </div>

</article>
